@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2') format('woff2'),
    url('../fonts/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: 0.2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: '\e800';
} /* '' */
.icon-bars:before {
  content: '\e801';
} /* '' */
.icon-search-plus:before {
  content: '\e802';
} /* '' */
.icon-zoom-out:before {
  content: '\e803';
} /* '' */
.icon-chevron-right:before {
  content: '\f18e';
} /* '' */
.icon-chevron-left:before {
  content: '\f190';
} /* '' */
